@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #eca36c, #bfd4ad);
}

main {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 15px #6c887991;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #966c80;
    text-align: center;
    text-shadow: 1px 1px 2px #5a414d;
}

h2 {
    color: #96bda8;
}

p {
    text-align: justify;
}